#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
#contact_modal {
  position: fixed;
  top: 114px;
  right: 380px;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.photograph-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icon-dropdown {
  height: 10px;
  width: 16px;
  right: 10px;
  top: 10px;
  cursor: pointer;
  position: absolute;
}
.choice {
  position: absolute;
  background-color: #901c1c;
  color: white;
  width: 170px;
  border-radius: 5px;
  list-style: none;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
  left: 151px;
  z-index: 2;
}

.sort-by {
  display: flex;
  margin-bottom: 30px;
}
.sort-by p {
  margin: 0px;
}
.popular {
  width: 100%;
}

.date {
  display: none;
}
.title {
  display: none;
}
.border {
  height: 1px;
  width: 92%;
  position: relative;
  background: white;
  right: -6px;
  display: none;
}
.choice li {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.media-img {
  width: 350px;
  height: 300px;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}
.media-img video {
  width: 350px;
  height: 300px;

  border-radius: 5px;
}

.media {
  display: flex;
  flex-wrap: wrap;

  row-gap: 10px;
  justify-content: space-between;
}
.media-container {
  margin: 0 100px;
}

.likes img {
  width: 18px;
}
.likes {
  display: flex;
}
.media-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.media-info h2 {
  font-size: 20px;
  color: #901c1c;
}

.likes-and-price {
  background: #db8876;
  width: 300px;
  height: 40px;
  position: fixed;
  bottom: 0;
  right: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #000000;
  font-weight: bold;
}
.total-likes {
  display: flex;
  align-items: center;
}
.total-likes p {
  margin-right: 5px;
}
.total-likes img {
  width: 18px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.lightbox-img {
  width: 80%;
  height: 90%;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  object-fit: cover;
}
.lightbox video {
  width: 80%;
  height: 90%;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  object-fit: cover;
}
.close-icon {
  position: absolute;
  top: 50px;
  right: 40px;
  width: 30px;
  height: 30px;
  z-index: 2;

  cursor: pointer;
}
.close-icon img {
  width: 100%;
}
.chevron-left {
  position: absolute;
  top: 45%;
  left: 40px;
  width: 30px;
  height: 30px;
  z-index: 2;

  cursor: pointer;
}
.chevron-right {
  position: absolute;
  top: 45%;
  right: 40px;
  width: 30px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
}
.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
